*{
    margin: 0;
    padding: 0;
}

.posters{
    display: flex;
    flex-wrap: wrap;
    background-color: #282828;
}

.posters > *{
    cursor: pointer;
}

.posters > div{
    margin: 20px;
    transition: ease-in 0.2s;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.year{
    display: none;
    position: absolute;
    color: aliceblue;
    font-size: xx-large;
    padding-left: 20px;
    padding-right: 20px;
}
 
.contenedor:hover{
    transform: scale(0.9);

}

.contenedor:hover > img{
    opacity: 0.2;
    z-index: -1;
}

.contenedor:hover .year{
    display: flex;
}

.buscar{
    display: flex;
    background-color: #282828;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.buscar > input{
    height: 22px;
    width: 50%;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 10px;
}

.buscar > button{
    height: 26px;
    width: 10%;
    font-size: 20px;
}

.video{
    position: absolute;
    display: none;
    cursor: none;
    background-color: aliceblue;
    z-index: 5;
}